body {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1600px;
    height: 780px;
}
header {
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.9;
}
.logo img{
    width: 100px;
    float: left;
    margin-left: 90px;
    margin-top: 15px;
    opacity: 0.6;
}
.nav {
    float: right;
}
.nav ul {
    list-style: none;
}
.nav li {
    display: inline-block;
    margin-right: 95px;
    margin-top: 35px;
    font-size: 25px;
    letter-spacing: 0.5px;
}
.nav a {
    text-decoration: none;
    color: bisque;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
}
.nav a:hover {
    background: #2b2126b3;
    padding: 10px;
    border: 2px solid bisque;
}
.content {
    width: 800px;
    height: 250px;
    padding: 260px;
    margin-left: 270px;
}
.content h1 {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 75px;
    letter-spacing: 2px;
    color: #2b2126e0;
    
}
.content a {
    text-decoration: none;
    font-family: monospace;
    color: bisque;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-left: 195px; 
    border: 2px solid bisque;
    background: #2b2126e0;
    padding: 10px;
}
.content a:hover {
    background: transparent;
}